<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>STORE NAME</h1>
      <h3>Inventory Management by PIKOLI</h3>
    </header>