<!DOCTYPE html>
<html>
  <head>
    <title>Pikoli</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <form>
        <label>Username</label>
        <input type="text" id="username">
        <label>Password</label>
        <input type="password" id="password">
        <input type="submit" id="submit" value="Log In">
      </form>
      <h1>STORE NAME</h1>
      <h3>Inventory Management by PIKOLI</h3>
    </header>