<nav id="nav">
    <ul>
        <li>
            <a href="/">DASHBOARD</a>
        </li>
        <li>
            <a href="../store_list">STORES</a>
        </li>
        <li>
            <a href="/npcs">PRODUCTS</a>
        </li>
        <li>
            <a href="/bestiary">ORDER</a>
        </li>
        <li>
            <a href="items">REPORT</a>
        </li>
    </ul>
</nav>