<nav id="nav">
    <ul>
        <li><a href="/">DASHBOARD</a></li>
        <li><a href="../store_list">STORES</a></li>
        <li><a href="/products">PRODUCTS</a></li>
        <li><a href="/order">ORDER</a></li>
        <li><a href="report">REPORT</a></li>
    </ul>
</nav>