<nav id="nav">
  <ul>
    <li><a href="/">DASHBOARD</a></li>
    <li><a href="../store/list">STORES</a></li>
    <li><a href="../product/list">PRODUCTS</a></li>
    <li><a href="/order">ORDER</a></li>
    <li><a href="report">REPORT</a></li>
    <li><a href="/users">LOG IN</a></li>
  </ul>
</nav>
