<%- include('layouts/head'); -%>  
<%- include('layouts/header'); -%>
    <%- include('layouts/nav'); -%>
    <section>
        <img src="img/construction.png">
    </section>
<%- include('layouts/footer'); -%>
