<%- include('layouts/head'); -%>  
<%- include('layouts/header'); -%>
    <%- include('layouts/nav'); -%>
    <section>
        <div id="welcome">
            <h1>Welcome to PIKOLI Inventory Management Services</h1>
            <p>Check the list of stores by going to the Stores Tab, you can add more stores, edit them or delete some.</p>
            <p>Check the list of products by going to the Products Tab, make sure to add more items, edit them or delete them.</p>
            <p>Check the orders by going to the Order Tab where you can review previous orders and create new ones.</p>
            <p>Check the reports by going to the Report Tab where you can create an order report or a current inventory report by selecting the store's inventory.</p>
            <p>To create an account, go to the Log In page and Register.</p>
        </div>
    </section>
<%- include('layouts/footer'); -%>
