<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>PIKOLI</h1>
    </header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
