<%- include('layouts/head'); -%> <%- include('layouts/header'); -%> <%-
include('layouts/nav'); -%>
<label>Waterloo store inventory report</label>
<form method="POST" name="inventory_report_form">
  <select name="storeName" id="storeName">
    <option value="Waterloo">Waterloo</option>
    <option value="Cambridge">Cambridge</option>
    <option value="Kingston">Kingston</option>
    <option value="Kitchener">Kitchener</option>
    <option value="London">London</option>
  </select>
  <input type="submit" value="Submit" name="submit" />
</form>

<%- include('layouts/footer'); -%>
