    <%- include('layouts/header'); %> 
      <%- include('layouts/nav'); -%>

    <!-- MUST Add Form to collect new product date -->
    <form action="POST">
      <label for="productId">Product Id</label>
      <input
        type="number"
        name="productId"
        id="productId"
        placeholder="Please enter product id."
      />
      <br />
      <label for="productName">Product name</label>
      <input
        type="text"
        name="productName"
        id="productName"
        placeholder="Please enter the name of the product."
      />
      <br />
      <label for="productPrice">Product price</label>
      <input
        type="number"
        name="productPrice"
        id="productPrice"
        placeholder="Please enter price here."
      />
      <br />
    </form>
  <%- include('layouts/footer'); -%>
