<%- include('layouts/head'); -%> <%- include('layouts/header'); -%> <%-
include('layouts/nav'); -%>
<section>
  <button id="createOrder">
    <a href="/pdf/generateReport">Generate an order list report</a>
  </button>
  <br /><br /><br />
  <button id="createStoreReport">
    <a href="/pdf/generateInventoryReport"
      >Generate a store inventory report</a
    ></button
  ><br /><br /><br />
  <button id="createProductReport">
    <a href="/pdf/generateProductInventory"
      >Generate a product inventory report</a
    >
  </button>
  <button>
    <a href="/pdf/generateCategoryReport">Generate a product category report</a>
  </button>
</section>
<%- include('layouts/footer'); -%>
