<%- include('layouts/head'); -%> <%- include('layouts/header'); -%> <%-
include('layouts/nav'); -%>
<label>Waterloo store inventory report</label>
<button>
  <a href="/pdf/generateWaterlooInventoryReport"
    >Generate an inventory report</a
  >
</button>
<%- include('layouts/footer'); -%>
