body {
  font: 15px/1.5 arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  background-color:grey;
  height: 100vh;
  position: relative;
}
/* Global */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 30px;
  border: black 2px solid;
  border-radius: 10px;
  box-shadow: grey -1px 2px 2px 1px;
  padding: 10px;
  text-align: center;
  background-color: darkgray;
}

ul li a{
  color: black;
  text-decoration: none;
}

/* Header*/
header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  height: 10%;
  border-bottom: #e8491d 3px solid;
  margin: 0;
}

header h1 {
  margin-left: 5%;
  margin-top: 0;
  margin-bottom: 0;
}

header h3 {
  margin-left: 10%;
  margin-top: 0;
}

/* sidebar */

#nav {
  background: #35424a;
  color: #ffffff;
  padding-left: 3%;
  min-width: 7%;
  border-right: #e8491d 3px solid;
  float: left;
  height: 79%;
  margin: 0;
  padding: 0;
}

/* section */

section{
  margin-left: 250px;
  margin-top: 30px ;
}

#welcome{
  background-color: #ffffff;
  width: 1000px;
  margin-left: 300px;
  margin-top: 150px;
  padding: 10px;
  border: solid black 1px;
  border-radius: 20px;
  box-shadow: black 0 0 3px 3px;
}

#welcome h1{
  text-align: center;
}

#productTableBar{
  width: 1500px;
  height: 50px;
  background-color: lightgrey;
  margin-top: 20px;
  margin-left: 50px;
  padding: 0;
  border: black 1px solid;
}

#productTableItem{
  width: 1500px;
  height: 520px;
  background-color: lightgrey;
  border-left: black solid 1px;
  border-right: black solid 1px;
  border-bottom: black solid 1px;
  overflow-y: scroll;
  margin-left: 50px;
  margin-bottom: 20px;
}

#orderTableBar{
  width: 1000px;
  height: 50px;
  background-color: lightgrey;
  margin-top: 20px;
  margin-left: 50px;
  padding: 0;
  border: black 1px solid;
}

#orderTableItem{
  width: 1000px;
  height: 520px;
  background-color: lightgrey;
  overflow-y: scroll;
  margin-left: 50px;
  margin-bottom: 20px;
  border-left: black solid 1px;
  border-right: black solid 1px;
  border-bottom: black solid 1px;
}

#storeTableBar{
  width: 1250px;
  height: 50px;
  background-color: lightgrey;
  margin-top: 20px;
  margin-left: 50px;
  padding: 0;
  border: black 1px solid;
}

#storeTableItem{
  width: 1250px;
  height: 325px;
  background-color: lightgrey;
  overflow-y: scroll;
  margin-left: 50px;
  padding: 20px 0;
  border-left: black solid 1px;
  border-right: black solid 1px;
  border-bottom: black solid 1px;
}

.product th, .product td{
  width: 145px;
  min-width: 145px;
  margin: 0;
  padding: 15px 0;
  text-align: center;
}

.store th, .store td {
  width: 150px;
  min-width: 150px;
  margin: 0;
  padding: 15px 0;
  text-align: center;
}
.order th, .order td {
  width: 120px;
  min-width: 120px;
  margin: 0;
  padding: 15px 0;
  text-align: center;
}

#login{
  width: 300px;
  margin-top: 20px;
  margin-right: 20px;
  border: black 2px solid;
  border-radius: 10px;
  box-shadow: grey -1px 2px 2px 1px;
  padding: 10px;
  text-align: center;
  background-color: darkgray;
}

#login label{
  float: left;
  width: 100px;
}

#login input{
  width: 100px;
}

#editProduct {
  width: 600px;
  margin: 50px;
  margin-left: 600px;
  border: black 2px solid;
  border-radius: 10px;
  box-shadow: grey -1px 2px 2px 1px;
  padding: 10px;
  text-align: center;
  background-color: darkgray;
}

#editProduct label{
  float: left;
  width: 200px;
}

#editProduct input{
  width: 200px;
}

#success{
  width: 200px;
  margin: 50px;
  margin-left: 300px;
  border: black 2px solid;
  border-radius: 10px;
  box-shadow: grey -1px 2px 2px 1px;
  padding: 10px;
  text-align: center;
  background-color: darkgray;
}

#createProduct {
  width: 150px;
  margin: 10px;
  margin-bottom: 0;
  margin-left: 50px;
  border: black 2px solid;
  border-radius: 10px;
  box-shadow: grey -1px 2px 2px 1px;
  padding: 10px;
  text-align: center;
  background-color: darkgray;
}

#createOrder {
  width: 150px;
  margin: 10px;
  margin-bottom: 0;
  margin-left: 50px;
  border: black 2px solid;
  border-radius: 10px;
  box-shadow: grey -1px 2px 2px 1px;
  padding: 10px;
  text-align: center;
  background-color: darkgray;
}

#createStore{
  width: 150px;
  margin: 10px;
  margin-bottom: 0;
  margin-left: 50px;
  border: black 2px solid;
  border-radius: 10px;
  box-shadow: grey -1px 2px 2px 1px;
  padding: 10px;
  text-align: center;
  background-color: darkgray;
}

#createStoreReport {
  width: 150px;
  margin: 10px;
  margin-bottom: 0;
  margin-left: 50px;
  border: black 2px solid;
  border-radius: 10px;
  box-shadow: grey -1px 2px 2px 1px;
  padding: 10px;
  text-align: center;
  background-color: darkgray;
}

#createProductReport {
  width: 150px;
  margin: 10px;
  margin-bottom: 0;
  margin-left: 50px;
  border: black 2px solid;
  border-radius: 10px;
  box-shadow: grey -1px 2px 2px 1px;
  padding: 10px;
  text-align: center;
  background-color: darkgray;
}
#createProductCategoryReport {
  width: 150px;
  margin: 10px;
  margin-bottom: 0;
  margin-left: 50px;
  border: black 2px solid;
  border-radius: 10px;
  box-shadow: grey -1px 2px 2px 1px;
  padding: 10px;
  text-align: center;
  background-color: darkgray;
}

.arrow{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#storeReport{
  background-color: darkgrey;
  width: 700px;
  margin-left: 30px;
  margin-top: 50px;
  padding: 10px;
  border: solid black 1px;
  border-radius: 20px;
  box-shadow: black 0 0 3px 3px;
}

#productReport{
  background-color: darkgrey;
  width: 700px;
  margin-left: 30px;
  margin-top: 50px;
  padding: 10px;
  border: solid black 1px;
  border-radius: 20px;
  box-shadow: black 0 0 3px 3px;
}

#productCategoryReport{
  background-color: darkgrey;
  width: 700px;
  margin-left: 30px;
  margin-top: 50px;
  padding: 10px;
  border: solid black 1px;
  border-radius: 20px;
  box-shadow: black 0 0 3px 3px;
}

#logout{
  margin-left: 160px;
  border: black 2px solid;
  border-radius: 10px;
  box-shadow: grey -1px 2px 2px 1px;
  padding: 10px;
  text-align: center;
  background-color: darkgray;
}

/* footer */

footer {
  padding: 20px;
  height: 3%;
  margin: 0;
  color: #ffffff;
  background: #35424a;
  border-top: #e8491d 3px solid;
  text-align: center;
  clear: both;
}
