body {
  font: 15px/1.5 arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  background-color: #f4f4f4;
}
/* Global */

ul {
  margin: 0;
  padding: 0;
}

/* Header*/
header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

/* sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

/* footer */

footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}
