body {
  font: 15px/1.5 arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  background-color:grey;
  height: 100vh;
  position: relative;
}
/* Global */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 30px;
  border: black 2px solid;
  border-radius: 10px;
  box-shadow: grey -1px 2px 2px 1px;
  padding: 10px;
  text-align: center;
  background-color: darkgray;
}

ul li a{
  color: black;
  text-decoration: none;
}

/* Header*/
header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  height: 10%;
  border-bottom: #e8491d 3px solid;
  margin: 0;
}

header h1 {
  margin-left: 5%;
  margin-top: 0;
  margin-bottom: 0;
}

header h3 {
  margin-left: 10%;
  margin-top: 0;
}

header a{
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  border: black 2px solid;
  border-radius: 10px;
  box-shadow: grey -1px 2px 2px 1px;
  padding: 10px;
  text-align: center;
  background-color: darkgray;
}

/* sidebar */

#nav {
  background: #35424a;
  color: #ffffff;
  padding-left: 3%;
  min-width: 7%;
  border-right: #e8491d 3px solid;
  float: left;
  height: 79%;
  margin: 0;
  padding: 0;
}

/* section */

section{
  margin-left: 230px;
  margin-top: 30px ;
}

img{
  margin-left: 30%;
  margin-top: 5%;
}

#productTable{
  width: 1500px;
  height: 620px;
  background-color: white;
  border-radius: 50px;
  overflow: scroll;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}

#storeTable{
  width: 1250px;
  height: 580px;
  background-color: white;
  border-radius: 50px;
  overflow: scroll;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}

th {
  padding: 30px;
  text-align: center;
}
td {
  padding: 30px;
  text-align: center;
}

#login{
  width: 300px;
  margin-top: 20px;
  margin-right: 20px;
  border: black 2px solid;
  border-radius: 10px;
  box-shadow: grey -1px 2px 2px 1px;
  padding: 10px;
  text-align: center;
  background-color: darkgray;
}

#login label{
  float: left;
  width: 100px;
}

#login input{
  width: 100px;
}

#editProduct {
  width: 600px;
  margin: 50px;
  margin-left: 600px;
  border: black 2px solid;
  border-radius: 10px;
  box-shadow: grey -1px 2px 2px 1px;
  padding: 10px;
  text-align: center;
  background-color: darkgray;
}

#editProduct label{
  float: left;
  width: 200px;
}

#editProduct input{
  width: 200px;
}

#success{
  width: 200px;
  margin: 50px;
  margin-left: 300px;
  border: black 2px solid;
  border-radius: 10px;
  box-shadow: grey -1px 2px 2px 1px;
  padding: 10px;
  text-align: center;
  background-color: darkgray;
}

#createProduct {
  width: 150px;
  margin: 10px;
  margin-bottom: 0;
  margin-left: 100px;
  border: black 2px solid;
  border-radius: 10px;
  box-shadow: grey -1px 2px 2px 1px;
  padding: 10px;
  text-align: center;
  background-color: darkgray;
}

#createStore{
  width: 150px;
  margin: 10px;
  margin-bottom: 0;
  margin-left: 100px;
  border: black 2px solid;
  border-radius: 10px;
  box-shadow: grey -1px 2px 2px 1px;
  padding: 10px;
  text-align: center;
  background-color: darkgray;
}

#productList{
  margin-top: 40px;
}

.arrow{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#productList button img{
  height: 10px;
  width: 10px;
}

#storeList{
  margin-top: 40px;
}

/* footer */

footer {
  padding: 20px;
  height: 3%;
  margin: 0;
  color: #ffffff;
  background: #35424a;
  border-top: #e8491d 3px solid;
  text-align: center;
  clear: both;
}
